<!DOCTYPE html>
<html>
	<head>
		<title>Recent Photos</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script type="text/javascript" src="lib.js"></script>

		<style>
			html, body {
				font-family: sans-serif;
				margin: 0;
				padding: 0 0 20px 0;
				background: #fff;
				color: #444;
			}

			header {
				padding: 10px;
				background: #f1f1f1;
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: #d8d8d8;
				font-weight: bold;
			}

			header a {
				display: block;
				margin: 0 auto;
			}

			#list {
				padding: 20px 0 20px 5px;
				margin: 0 auto;
			}

			#list::after {
				display: block
				clear: both;
				content: " ";
			}

			a:link ,
			a:visited {
				color: #333;
				text-decoration: none;
			}

			.file {
				display: inline-block;
				width: 100px;
				height: 100px;
				margin: 0 5px 5px 0;
				padding: 0;
				float: left;
			}

			.file.jpg {
				border: 1px solid #fff;
			}

			.file .filename ,
			.file .thumbnail {
				max-width: 100%;
				min-width: 100%;
				max-height: 100%;
				min-height: 100%;
				line-height: 100px;
				text-align: center;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				background: #f1f1f1 url('/SD_WLAN/file.jpg') no-repeat 50% 50%;
			}

			.file .filename {
				display: inline-block;
			}

			footer {
				display: block;
				clear: both;
			}
		</style>

	</head>
	<body>
		<header>
			<a href="/">Recent Photo</a>
		</header>
		<div id="list">
			<script type="text/html" id="listTmpl">
				<a class="file <%= obj.ext %>" href="<%= obj.path %>">
					<!--
					<%= [obj.date.getFullYear(), obj.date.getMonth() + 1, obj.date.getDate()].join('/') %>
					<%= [obj.date.getHours(), obj.date.getMinutes(), obj.date.getSeconds()].join(':') %>
					-->
					<% if (obj.ext == 'JPG') { %>
					<img src="data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D" data-path="<%= obj.path %>" class="thumbnail"/>
					<% } else { %>
					<span class="filename"><%= obj.filename %></span>
					<% } %>
				</a>
			</script>
		</div>

		<script>
			Deferred.define();

			var FlashAir = {};
			FlashAir.API = {
				isConnected : function () {
					var d = new Deferred();
					$.ajax({
						url: '/command.cgi?op=101',
						type : "GET",
						timeout: 10 * 1000,
						dataType: 'text',
						success : function (data, status, xhr) {
							d.call(true);
						},
						error : function (jqXHR, status, error) {
							d.call(false);
						}
					});
					return d;
				},

				waitUntilConnect : function () {
					return next(function () {
						return FlashAir.API.isConnected().next(function (connected) {
							if (!connected) {
								return wait(3).next(FlashAir.API.waitUntilConnect);
							}
						});
					});
				},

				waitUntilConnectToInternet : function () {
					return next(function () {
						var d = new Deferred();
						var img = new Image();
						var timer;
						img.onload = function () {
							clearInterval(timer);
							d.call();
						};
						img.onerror = function () {
							clearInterval(timer);
							d.fail('not connected; onerror');
						};
						timer = setInterval(function () {
							img.onload = null;
							img.onerror = null;
							delete img;
							d.fail('not connected; timeout');
						}, 10 * 1000);
						img.src = "http://www.google.com/textinputassistant/tia.png?" + new Date().getTime();
						return d;
					}).
					error(function (e) {
						console.log(e);
						if (e.match(/not connected/)) {
							return wait(3).next(FlashAir.API.waitUntilConnectToInternet);
						} else {
							throw e;
						}
					});
				},

				loadAsBinary : function (path) {
					var d = new Deferred();
					$.ajax({
						url: "path",
						type : "GET",
						dataType: 'text',
						beforeSend: function ( xhr ) {
							xhr.overrideMimeType("text/plain; charset=x-user-defined");
						},
						success : function (data, status, xhr) {
							d.call(data.replace(/./g, function (_) {
								return _.charCodeAt(0) & 0xff;
							}));
						},
					});
					return d;
				},

				getFiles : function (path) {
					// console.log(['getFiles', path]);
					var d = new Deferred();
					$.ajax({
						url: path,
						type : "GET",
						dataType: 'text',
						success : function (data, status, xhr) {
							var js = data.match(/wlansd\[\d+\]=.+/g);
							var files = new Function("wlansd", js.join("\n") + "return wlansd")([]);
							for (var i = 0, it; (it = files[i]); i++) files[i] = new FlashAir.File(it);
							d.call(files);
						},
						error : function (jqXHR, status, error) {
							d.fail([jqXHR, status, error]);
						}
					});
					return d;
				},

				getRecent : function (start, end) {
					end = end || start + 1;

					if (!arguments.callee.cache) arguments.callee.cache = { directories: null, files : [] };
					var cache = arguments.callee.cache;
					// console.log(cache);

					return next(function () {
						if (!cache.directories) {
							return FlashAir.API.getFiles('/DCIM').next(function (files) {
								files.sort(function (a, b) { return a.date.getTime() - b.date.getTime() });
								var directories = [];
								for (var i = 0, it; (it = files[i]); i++) {
									if (it.isDCFDirectory) directories.push(it);
								}
								cache.directories = directories;
								return directories;
							});
						} else {
							return cache.directories;
						}
					}).
					next(function (directories) {
						var enough   = !!cache.files[end-1];
						var finished = !directories.length;
						if (enough || finished) return cache.files.slice(start, end);

						var directory = directories.pop();
						return FlashAir.API.getFiles(directory.path).next(function (files) {
							files.sort(function (a, b) { return b.date.getTime() - a.date.getTime() });
							for (var i = 0, it; (it = files[i]); i++) {
								if (it.isDCFBasicFile) cache.files.push(it);
							}
							return FlashAir.API.getRecent(start, end);
						});
					});
				},

				// require lscache
				getThumbnailURL : function (path, size) {
					var d = new Deferred();
					size = size * (window.devicePixelRatio || 1);

					var cache = lscache.get('thumbnail:' + path);
					if (!cache) {
						console.log(['create thumbnail', path]);

						var img = new Image();
						img.onload = function () {
							try {
								var canvas = document.createElement('canvas');
								canvas.setAttribute('width', size);
								canvas.setAttribute('height', size);

								var ctx = canvas.getContext('2d');
								var source = Math.min(img.height, img.width) * 0.9;
								ctx.drawImage(img,
									(img.width  - source) / 2,
									(img.height - source) / 2,
									source,
									source,
									0,
									0,
									size,
									size
								);
								var url = canvas.toDataURL('image/jpeg', 0.8);
								console.log(['cached thumbnail/size:', url.length ]);
								lscache.set('thumbnail:' + path, url);
								d.call(url);
							} catch (e) { d.fail(e) }
						};
						img.src = '/thumbnail.cgi?' + path;
					} else {
						console.log(['cached thumbnail:', path]);
						setTimeout(function () { d.call(cache) }, 10);
					}

					return d;
				}
			};

			FlashAir.File = function () { this.init.apply(this, arguments) };
			FlashAir.File.prototype = {
				init : function (data) {
					data = data.split(/,/);
					this.directory = data[0];
					this.filename  = data[1];
					this.path      = this.directory + '/' + this.filename;
					this.ext       = (this.filename.split(/\./)[1] || '').toUpperCase();
					this.size      = +data[2];
					this.attribute = +data[3];

					var d = +data[4], t = +data[5];
					this.date = new Date(
						((d & 0xfe00) >> 9) + 1980, // 1111111000000000 (origin=1980)
						((d & 0x1e0) >> 5) + 1,     // 0000000111100000 (1-12)
						d & 0x1f,                   // 0000000000011111 (1-31)
						((t & 0xf800) >> 11),       // 1111100000000000 (hour)
						((t & 0x7e0) >> 5),         // 0000011111100000 (min)
						t & 0x1f * 2                // 0000000000011111 (sec / 2)
					);

					this.isDirectory    = this.attribute & 0x08 != 0;
					this.isFile         = !this.isDirectory;
					this.isDCFDirectory = new RegExp('^/DCIM/[0-9]{3}[A-Z]+$', 'i').test(this.path);
					this.isDCFBasicFile = new RegExp('^/DCIM/[0-9]{3}[A-Z_]+/[A-Z_]{4}[0-9]{4}.JPG$', 'i').test(this.path);
				}
			};


			// Recent Photo

			function loadThumbnailImage (parent) {
				if (!loadThumbnailImage.queue) loadThumbnailImage.queue = [];
				var queue = loadThumbnailImage.queue;

				parent.find('img.thumbnail[data-path]').each(function () {
					load(this);
				});

				function load (target) {
					queue.push(target);
					if (!queue.worker) {
						queue.worker = next(function work () {
							var target = queue.shift();
							var path   = target.getAttribute('data-path');
							return FlashAir.API.getThumbnailURL(path, 100).next(function (url) {
								target.src = url;

								if (queue.length) {
									return next(work);
								} else {
									delete queue.worker;
								}
							});
						}).
						error(function (e) {
							alert(e);
						});
					}
				}
			}

			if (location.hash == '#nocache') lscache.flush();

			var list = $('#list');
			var start = 0, limit = 1;
			next(function () {
				console.log(['getRecent', start, limit ]);
				return FlashAir.API.getRecent(start, start + limit).
					next(function (files) {
						if (!files.length) throw "done";
						start = start + files.length; if (limit < 9) limit = limit * 2 + limit;

						for (var i = 0, it; (it = files[i]); i++) {
							var box = $(window.tmpl('listTmpl')(it));
							loadThumbnailImage(box);
							list.append(box);
						}
					}).
					next(function () {
						var loadNext;
						if ($(document).height() <= $(window).height() + 150) {
							loadNext = next();
						} else {
							// scroll event...
							loadNext = new Deferred();
							$(window).scroll(function () {
								var rest = $(document).height() - $(window).scrollTop();
								if (rest < $(window).height() + 150) {
									$(window).unbind('scroll', arguments.callee);
									loadNext.call();
								}
							});
						}
						return loadNext;
					}).
					next(arguments.callee);
			}).
			error(function (e) {
				if (e == 'done') return;
				alert(e);
			});

			$(window).resize(function () {
				var padding = 5;
				var itemWidth = 100 + padding;
				var row = Math.floor( ($(window).width() - padding) / itemWidth );
				list.width(row * itemWidth);
				$('header a').width(row * itemWidth);
			}).resize();

			// Simple JavaScript Templating
			// John Resig - http://ejohn.org/ - MIT Licensed
			function tmpl (str, data) {
				tmpl.cache = {};

				// Figure out if we're getting a template, or if we need to
				// load the template - and be sure to cache the result.
				var fn = /^[\w\-]+$/.test(str) ? tmpl.cache[str] = tmpl.cache[str] || tmpl(document.getElementById(str).innerHTML) :
					// Generate a reusable function that will serve as a template
					// generator (and which will be cached).
					new Function("obj",
					"var p=[],print=function(){p.push.apply(p,arguments);};" +

					// Introduce the data as local variables using with(){}
					"with(obj){p.push('" +

					// Convert the template into pure JavaScript
					str
						.replace(/[\r\t\n]/g, " ")
						.split("<%").join("\t")
						.replace(/((^|%>)[^\t]*)'/g, "$1\r")
						.replace(/\t=(.*?)%>/g, "',String($1).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&#34;').replace(/\'/g,'&#39;'),'")
						.split("\t").join("');")
						.split("%>").join("p.push('")
						.split("\r").join("\\'") +

					"');}return p.join('');");

				// Provide some basic currying to the user
				return data ? fn( data ) : fn;
			}
		</script>
	</body>
</html>
